<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet"  type = "text/css" href="/home/blackpanther/Edge_SQL/View/css/normalize.css"/>
        <link rel = "stylesheet"  type = "text/css" href="/home/blackpanther/Edge_SQL/View/css/skeleton.css"/>
        <link rel = "stylesheet"  type = "text/css" href="/home/blackpanther/Edge_SQL/View/css/edgeone.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>>
    <body>
        <div class="grid-container">
           <div class="Sidebar"> <!-- Sidebar-->  
            <section>
                <h5>Profile</h5>
                <span>
                <i class="fas fa-user"></i><strong>Username: {Name}</strong>
                <br>
                <strong>Firstname: {firstname}</strong>
                <br>
                <strong>Age: {age}</strong>
                <br>
                <strong>Locaton: {location}</strong>
                </span>
                <br>
                <hr>
                <float ce><strong>{{Status - I'm Happy}}</strong></centre>
                <br>
                <p>Hello! I'm Dodo. I like working with computers. Did you read the latest news? 
                <hr>  
            </section>       
                    
            <section>
                <nav>
                <ul class="fa-ul"><!-- User menu-->
                <li><span class="fa-li" ><i class="fas fas fa-home"></i></span></li><a href="#">Home</a></li>   
                <li><span class="fa-li"><i class="fas fa-edit"></i></span></li><a href="#">Register</a></li>
                <li><span class="fa-li"><i class="fas fa-door-open"></i></span></li><a href="#">Login</a></li> 
                <li><span class="fa-li"><i class="fas fa-question-circle"></i></span></li><a href="#">Support</a></li> 
                </ul>
                </nav>
            </section> 
                 <hr>
            <section>
                <h4>Communitys</h4>   
            </section>     
            <footer>
                    <nav>
                        <a href="#">home</a>
                        <a href="#">home</a>  
                        <a href="#">home</a>  
                        <a href="#">home</a>  
                        <a href="#">home</a>     
                    </nav>    
            </footer>   
            </div>
            <!-- Header-->  
            <div class="Header">
                 <h2>Edge One Social</h2>   
            </div>
            <!-- Article 1-->  
            <div class="Article">
                <h5>Building the Application - Hooray!</h5>
                <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et tortor at risus viverra. Euismod lacinia at quis risus sed vulputate. Nulla at volutpat diam ut venenatis tellus in. Nisl pretium fusce id velit ut tortor. Nisl tincidunt eget nullam non nisi est. Eros in cursus turpis massa tincidunt dui ut ornare. Quam id leo in vitae. Lectus mauris ultrices eros in cursus turpis massa tincidunt. Tempus quam pellentesque nec nam aliquam. Lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis. Tempor orci eu lobortis elementum. Sed sed risus pretium quam vulputate. Sed faucibus turpis in eu mi bibendum neque egestas. Mattis aliquam faucibus purus in massa. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. In mollis nunc sed id semper. Et ultrices neque ornare aenean euismod elementum nisi.</p> 
                </article>
            </div>
            <br><!-- Article 2-->  
            <div class="Article_2">
                <article>
                <p>
                Elementum facilisis leo vel fringilla est ullamcorper eget nulla. Tellus rutrum tellus pellentesque eu. Aliquam purus sit amet luctus. Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. Convallis posuere morbi leo urna. Hendrerit dolor magna eget est lorem ipsum dolor. Iaculis nunc sed augue lacus viverra vitae. Aliquet porttitor lacus luctus accumsan tortor posuere ac. Mauris pellentesque pulvinar pellentesque habitant. Fringilla est ullamcorper eget nulla facilisi etiam dignissim. Tellus orci ac auctor augue mauris augue. In ornare quam viverra orci sagittis eu volutpat odio. Iaculis eu non diam phasellus. Bibendum neque egestas congue quisque egestas. Donec massa sapien faucibus et molestie ac feugiat. Pellentesque elit eget gravida cum.   
                </p>
                </article>

            </div>
            <!-- Sidebar-Not Active-->  
            <div class="Sidebar-Not-active"></div>
          </div>
 
    </body>
</html>